<div ng-controller="ShellController as vm" class="row">

    <div ui-view class="shuffle-animation col-xs-12"></div>

    <!--<div class="loader-overlay" ngplus-overlay-->
         <!--ngplus-overlay-delay-in="50"-->
         <!--ngplus-overlay-delay-out="700"-->
         <!--ngplus-overlay-animation="dissolve-animation">-->
        <!--<div class="spinner">-->
            <!--<div class="bounce1"></div>-->
            <!--<div class="bounce2"></div>-->
            <!--<div class="bounce3"></div>-->
        <!--</div>-->
    <!--</div>-->
</div>

