.m-button{
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-block;
}

.m-button-dropdown{
  @extend .btn;
  @extend .btn-default;
  @extend .dropdown-toggle;
  @extend .btn-block;
  text-align: left;
}

.m-button-submit{
  @extend .btn;
  @extend .btn-primary;
  background: #F14D77;
  border-color:#F14D77;
  border-radius: 40px;
  text-align: center;
  &:hover {
    background: #F14D77;
    border-color:#F14D77;
  }
  &:active {
    background: #F14D77;
    border-color:#F14D77;
  }
  &:focus {
    background: #F14D77;
    border-color:#F14D77;
    outline:none !important;
  }
  &:active:focus {
    background: #BF3357;
    border-color:#F14D77;
  }
}

.m-admin-button{
  @extend .btn;
  @extend .btn-primary;
  background: #6495ED;
  border-color: #6495ED;
  border-radius: 40px;
  text-align: center;
  &:hover {
    background: #6495ED;
    border-color: #6495ED;
  }
  &:active {
    background: #6495ED;
    border-color: #6495ED;
  }
  &:focus {
    background: #6495ED;
    border-color: #6495ED;
    outline:none !important;
  }
  &:active:focus {
    background: #4682B4;
    border-color:#6495ED;
  }
}

.m-button-tag{
  @extend .btn;
  @extend .btn-primary;
  background-color: #8ED1D6;
  border-color: #8ED1D6;
}

.m-button-tag-dropdown{
  @extend .btn;
  @extend .btn-info;
  @extend .dropdown-toggle;
  border-radius: 28px;
  margin-bottom: 4px;
}

.m-date select:nth-child(1) {
  width: 50px;
}

.m-date select:nth-child(2) {
  width: 105px;
}

.m-date select:nth-child(3) {
  width: 35px;
}


.m-import-hidden-button{
  display: none;
}
