.m-indicators-black{
  bottom: 20px;
  li {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  }
}

.m-carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.m-carousel-control{
@extend .carousel-control;
    width: 0;
}

.m-carousel-control{
  &.left{
    span {
      &:hover{
        opacity: .7;
      }
      margin-left: -40px;
    	padding: 15px;
    }
    opacity: 1;
    top: -20%;
  }
  &.right{
    span {
      &:hover{
        opacity: .7;
      }
    	padding: 15px;
    }
    opacity: 1;
    top: -20%;
  }
}
