<section>
  <div class="page-header text-left">
    <div class="row">
      <div class="col-xs-1">
        <span class="m-glyphicon-arrow-left" aria-label="Left Align"></span>
      </div>
      <div class="col-xs-10">
        <p>Choose your preferences</p>
      </div>
    </div>
  </div>

  <form>

    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Search tag"/>
      <i class="glyphicon glyphicon-search form-control-feedback" aria-label="Left Align"></i>
    </div>

    <div class="form-group">
      <div class="btn-group">
        <button type="button" class="m-button-tag-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-remove"></span> milk
        </button>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-ok"></span>&nbsp;Must have</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Like</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Dislike</a></li>
          <li><a><span class="glyphicon glyphicon-remove"></span>&nbsp;Can't (hate)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="m-button-tag-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-ok"></span> cucumber
        </button>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-ok"></span>&nbsp;Must have</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Like</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Dislike</a></li>
          <li><a><span class="glyphicon glyphicon-remove"></span>&nbsp;Can't (hate)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="m-button-tag-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-chevron-right"></span> butter
        </button>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-ok"></span>&nbsp;Must have</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Like</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Dislike</a></li>
          <li><a><span class="glyphicon glyphicon-remove"></span>&nbsp;Can't (hate)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="m-button-tag-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-ok"></span> cucumber
        </button>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-ok"></span>&nbsp;Must have</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Like</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Dislike</a></li>
          <li><a><span class="glyphicon glyphicon-remove"></span>&nbsp;Can't (hate)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="m-button-tag-dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-chevron-right"></span> butter
        </button>
        <ul class="dropdown-menu">
          <li><a><span class="glyphicon glyphicon-ok"></span>&nbsp;Must have</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Like</a></li>
          <li><a><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Dislike></a></li>
          <li><a><span class="glyphicon glyphicon-remove"></span>&nbsp;Can't (hate)</a></li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="form-group text-left">
      <div class="col-xs-offset-1">
        <a class="m-button-submit" href="#">Submit</a>
      </div>
    </div>
  </form>
</section>
