<section>
  <div class="page-header text-left">
    <div class="text-uppercase">your location</div>
  </div>

  <form>
    <div class="form-group">
      <div class="text-left">We`re working to bring <strong>Greenbelt Greens</strong> to as many cities as possible, but it`s currently unavailable in your area.
      </div>
    </div>

    <div class="form-group">
      <div class="text-left">Please live your email and we let you know about start service in your lication!</div>
    </div>

    <div class="form-group">
        <input class="form-control" type="text" placeholder="E-mail">
    </div>

    <hr>

    <div class="form-group text-left">
      <div class="col-xs-offset-1 col-sm-offset-1">
        <a class="m-button-submit" href="#">Submit</a>
      </div>
    </div>
  </form>
</section>
