<section>
    <div class="page-header text-left">
      <div class="text-uppercase">your location</div>
    </div>

  <%= form_tag(check_zip_code_path, method: "get") do %>
    <div class="form-group text-center">
      <span class="m-glyphicon-map" aria-hidden="true"></span>
    </div>

    <div class="form-group">
      <div class="text-left">Bea nem. Itatquate dolor res eiunt estusamet facernatior sere velecaerio.</div>
    </div>

    <div class="form-group">
      <%= text_field_tag :zip_code, nil, class:"form-control", type:"text", placeholder:"Enter your ZIP Code"%>
    </div>

    <div class="form-group text-left">
      <div class="col-xs-offset-1">
        <%= submit_tag("Submit", class: "m-button-submit") %>
      </div>
    </div>
  <%end%>
</section>